<!-- フッター -->
<footer class="bg-gray-900 border-none shadow-none text-gray-400">
  <div class="mx-auto max-w-7xl px-6 py-12 sm:py-16 lg:px-8 lg:py-20">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-8">
      <!-- 右側（リンク一覧） -->
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:col-span-3 gap-8">
        <div>
          <h3 class="text-sm font-semibold text-white">サービス</h3>
          <ul role="list" class="mt-4 space-y-2">
          <li><%= link_to 'ワークアウトプラン', workouts_path, class: 'text-sm hover:text-white' %></li>
          <li><%= link_to 'カレンダー', calendars_path, class: 'text-sm hover:text-white' %></li>
          <li><%= link_to '筋トレの報告', feedback_workouts_path, class: 'text-sm hover:text-white' %></li>          
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold text-white">サポート</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li><%= link_to 'お問い合わせ', new_contact_path, class: 'text-sm hover:text-white' %></li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold text-white">法務</h3>
          <ul role="list" class="mt-4 space-y-2">
            <li><a href="<%= terms_path %>" class="text-sm hover:text-white">利用規約</a></li>
            <li><a href="<%= privacy_path %>" class="text-sm hover:text-white">プライバシーポリシー</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- コピーライト -->
    <div class="mt-8 border-t border-gray-700 pt-6 text-center text-sm">
      © 2025 Your Company, Inc. All rights reserved.
    </div>
  </div>
</footer>
