<!DOCTYPE html>
<html>
  <head>
    <title>筋肉は全てを解決する</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="relative fade-in">
    <% if flash[:notice].present? || flash[:alert].present? %>
      <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-full flex justify-center">
        <div class="flash fade-in bg-green-500 text-white px-6 py-3 rounded-lg shadow-xl text-lg font-semibold max-w-md w-auto text-center">
          <%= flash[:notice] if flash[:notice].present? %>
          <%= flash[:alert] if flash[:alert].present? %>
        </div>
      </div>
    <% end %>

    <button id="toggle-header" class="fixed top-4 right-4 z-40 bg-gradient-to-r from-indigo-500 to-purple-500 text-white p-2 rounded-full shadow-lg hover:from-purple-500 hover:to-indigo-500 transition-all duration-300 active:scale-90">
      <svg class="h-5 w-5 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
      </svg>
    </button>

    <header id="main-header" class="bg-gray-800 text-white p-4 hidden">
      <%= render 'shared/header' %>
    </header>

    <main class="fade-in">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
